body{

    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
   

}
h1{
    text-align: center;
    animation: myslide;
    animation-iteration-count: 1;
    animation-duration: 5s;
}   
.navbar ul {
    list-style-type: none;
    background-color: blue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: navy;
}
.navbar li{
    float: left;
}
p{
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
   
    border-color: black;
    border-radius: 10px;
    border-spacing: 5px;
}

#box1{
    border: 0px;
     
    border-color: black;
    border-radius: 10px;
    height: 250px;
    width: 00px;
    height: 130px;
    font-size: 22px;
    background-color: white;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 100px;

}
#box2{
    border: 5px;
    border-style: inset;
    border-color: black;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    font-size: 22px;
    background-color: white;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 100px;
}

button:hover{
    color: grey;
}

@keyframes myslide {
    from{margin-left: 80%;}
    to{margin-left: 0%;}

}

.gallery{
    display: inline-block;
    border: 1px solid black;
    margin-left: 40px;
}